<html>
  <head>
  <link rel='stylesheet' type='text/css' href='stylesheets/index.css'/>
  </head>
  <body>
    <div id='hanged_man'>
      <img src='images/gallows.png' id='gallows'/>
      <img src='images/head.png' id='head' class='limb'/>
      <img src='images/torso.png' id='torso' class='limb'/>
      <img src='images/left_arm.png' id='left_arm' class='limb'/>
      <img src='images/right_arm.png' id='right_arm' class='limb'/>
      <img src='images/left_leg.png' id='left_leg' class='limb'/>
      <img src='images/right_leg.png' id='right_leg' class='limb'>
    </div> 
    <p><%= word_status %></p>
    <form action="/guess">
      <input type="text" max="1" name="guess"/>
      <input type="submit" value="Make a Guess!"/>
    </form>
    <p><%= secret_word %></p> 
  </body>
</html>