<html>
  <head>
  <link rel='stylesheet' type='text/css' href='stylesheets/index.css'/>
  </head>
  <body>
    <div id='hanged_man'>
      <img src='images/gallows.png' id='gallows'>
    </div> 
    <p><%= word_status %></p>
    <form action="/guess">
      <input type="text" max="1" name="guess"/>
      <input type="submit" value="Make a Guess!"/>
    </form>
    <p><%= secret_word %></p> 
  </body>
</html>