<html>
  <head>
    <link rel='stylesheet' type='text/css' href='stylesheets/lose.css'/>
  </head>
  <body>
    <h1>You lost! The word was: "<%= secret_word %>"</h1>
    <form action="/new">
      <input type="submit" value="New Game!">
    </form>
  </body>
</html>
