<html>
  <head>
  <link rel='stylesheet' type='text/css' href='stylesheets/index.css'/>
  </head>
  <body>
    <h1>You lost! Your word was: "<%= secret_word %>"</h1>
    <form action = "/new"><input type="submit" value="New game!"></form>
  </body>
</html>
