<html>
  <head>
  </head>
  <body>
    <h1>You won! You guessed "<%= secret_word %>" correctly! </h1>
    <form action="/new">
      <input type="submit" value="New Game!">
    </form>
  </body>
</html>
