body {
  background-color: grey;
}

#hanged_man {
  height: 444.5px;
}

#gallows {
  height: 400px;
  width: 700px;
  background-image: url(../images/gallows.png);
  background-position: center center;
  background-origin: content-box;
  background-size: 300px;
  background-repeat: no-repeat;
}

#head {
  background-image: url(../images/head.png);
  background-position: left top;
  background-origin: content-box;
  background-size: 100px;
  background-repeat: no-repeat;
  z-index: 100;
}

#arms {
  background-image: url(../images/left_arm.png), url(../images/right_arm.png)
}

#legs{
  background-image: url(../images/left_leg.png), url(../images/right_leg.png)
}
