body {
  background-color: grey;
}

#gallows {
  height: 400px;
  background-image: url("../images/running.png"), url("../images/gallows.png");
  background-position: right top;
  background-origin: content-box;
  background-position: 450px 150px, 0px center;
  background-size: 140px, 300px;
  background-repeat: no-repeat;
}
